{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="static/css/main.css">

<div class="px-4 py-5 my-5 text-center bg-image" id="hero-bg">
    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHaSdIQtX1LYw/profile-displayphoto-shrink_200_200/0/1578697636640?e=1675296000&v=beta&t=iIGt-hhe2APgMTzMCFitBzrNG71WiXeEmAWw0auHq64" alt="" class="shadow-lg rounded d-block mx-auto mb-4" width="100" height="100">
    <h1 class="display-3 mb-1">
        Chretien Martinez
    </h1>
    <div class="d-inline"><a href="https://www.linkedin.com/in/chretien-martinez-25845855/" target="_blank"><img src="static/images/In-2C-54px-R.png" alt="" class="thumbnail img-fluid my-2 py-2" height="30" width="25"></a></div>
    <div class="d-inline"><a href="https://github.com/Chretien" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
      </svg></a></div>
    <div class="d-inline"><a href="https://www.kaggle.com/chretienmartinez/code" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" id="IconChangeColor" height="25" width="25"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M304.2 501.5L158.4 320.3 298.2 185c2.6-2.7 1.7-10.5-5.3-10.5h-69.2c-3.5 0-7 1.8-10.5 5.3L80.9 313.5V7.5q0-7.5-7.5-7.5H21.5Q14 0 14 7.5v497q0 7.5 7.5 7.5h51.9q7.5 0 7.5-7.5v-109l30.8-29.3 110.5 140.6c3 3.5 6.5 5.3 10.5 5.3h66.9q5.25 0 6-3z" id="mainIconPathAttribute"></path></svg></iconify-icon></a></div>
      <h5>Python Powered</h5>
    <p class="mb-4">Data Analysis & Science · Automation · Web App Development</p>
</div>

<div class="d-flex shadow-sm flex-row justify-content-evenly my-5 py-5">
    <div class="py-2">
        <img width="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/219px-Python-logo-notext.svg.png" alt="">
    </div>
    <div class="py-2">
        <img width="100" alt="Microsoft Office Excel (2019–present)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg/512px-Microsoft_Office_Excel_%282019%E2%80%93present%29.svg.png"></a>
    </div>
    <div class="py-2">
        <img width="100" alt="New Power BI Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/New_Power_BI_Logo.svg/128px-New_Power_BI_Logo.svg.png">
    </div>
    <div class="py-2">
        <img width="256" alt="Pandas logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/256px-Pandas_logo.svg.png">
    </div>
    <div class="py-2">
        <img width="256" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/NumPy_logo_2020.svg/512px-NumPy_logo_2020.svg.png" alt="">
    </div>
</div>

<div class="container my-5 py-5 text-center">
    <h4 id="power_bi">Web Scraping</h4>
    <h5 class="text-muted mb-2">Using BeautifulSoup, Requests, Pandas, and PowerBI</h5>
    <p class="py-2 mb-2">The data that powers this PowerBI dashboard was collected using an ETL pipeline developed in Python. Go ahead and explore this dash!</p>
    <iframe title="builder_home_info" width="650" height="450" src="https://app.powerbi.com/view?r=eyJrIjoiZThlZGRkZmItNDA3Yy00MTE5LWE5ZmItYmNmNGE2YTIzNmQyIiwidCI6ImIwYWFmNDdhLTFmNTktNGFmZS05OTMyLTI3OGJhOTY3NDNmZSJ9&pageName=ReportSection925b1babb4d9d805e73a" frameborder="0" allowFullScreen="true"></iframe>


    



{% endblock content %}